.eci-container {
  margin-top: var(--nav-height);
  & h1.title {
    margin-bottom: var(--gutter-sm);
    font-family: var(--base-font-stack-condensed);
    text-transform: uppercase;
  }
  & .columns {
    margin-bottom: var(--gutter-md);
  }
  & .eci-geo-viz {
    height: 100%;
  }
  & .loading {
    position: relative;
    background-color: inherit;
    z-index: 20;
    height: 100%;
    & .loading-wrapper {
      margin-top: 0px;
    }
  }
  & .eci-explore {
    margin-bottom: var(--gutter-sm);
    line-height: var(--font-lg);
  }
}
