@import "helpers/mixins.css";

:root {
  --covid-red: #9F2241;
  --covid-dark-red: #691C32;
  --covid-gold: #BC955C;
  --covid-beige: #F8F4EF;
  --covid-black: #2B292A;
  --covid-grey: #4D4D4D;
  --covid-light-grey: #6F7271;
  --covid-white: #F9F9F9;
  --covid-green: #235B4E;
}

.covid-card {
  & .covid-card-information > * {
    margin-bottom: var(--gutter-sm);
  }
  & .covid-card-information {
    & .covid-card-information-title {
      color: #691c32;
      font-size: var(--font-lg);
      font-weight: 400;
    }
    & .covid-card-information-scale-selector {
      & .dmx-button-group {
        & .dmx-button-group-title {
          color: var(--covid-light-grey);
        }
        & .dmx-button-group-items {
          height: 2rem;
          margin: 0;
          & .cp-button {
          }
          & .is-inactive {
          }
          & .is-active {
            background: #9f2241;
            border: 1px solid #9f2241;
          }
        }
      }
    }
    & .covid-card-information-description {
      font-size: var(--font-xs);
    }
  }
  & .covid-card-visualization {
    background-color: #FFFFFF;
    border: 1px solid #c7c7c8ff;
    & .covid-card-visualization-header {
      & .dmx-select-location {
        display: flex;
        justify-content: flex-end;
        padding: 0 var(--gutter-md);
      }
    }
    & .covid-card-visualization-viz {

    }
  }
}

.covid-columns {
  display: flex;
  flex-direction: row;
  & .covid-column-30 {
    width: 30%;
    padding: var(--gutter-sm) var(--gutter-sm);
  }
  & .covid-column-70 {
    width: 70%;
    padding: var(--gutter-sm) var(--gutter-sm);
  }
}
