@import "helpers/mixins.css";

:root {
  --font-color-grey: #898888ff;
  --font-color-green: #325a4fff;
  --font-color-red: #622232ff;
  --font-color-yellow: #b69664ff;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --letter-spacing-text: -1px;
  --letter-spacing-title: -3px;
}

.covid-card-wrapper {
  & .covid-card {
    display: flex;
    flex-direction: row;
    color: #5c6d7eff;
    padding: var(--gutter-md) var(--gutter-md);

    /* CovidCard Description */
    & .covid-card-description {
      & .covid-card-description-headline {
        margin-bottom: var(--gutter-xs);
      }
      & .covid-card-description-title {
        margin-bottom: var(--gutter-md);
      }
      & .covid-card-description-selector {
        margin: 0 var(--gutter-sm);
        margin-bottom: var(--gutter-md);
        & .dmx-selector-header {
          & h6 {
            letter-spacing: var(--letter-spacing-text);
          }
        }
        & .dmx-selector-button {
          border-radius: 10px;
          & .bp3-button-text {
            color: #5c6d7eff;
            font-size: var(--font-sm);
            letter-spacing: var(--letter-spacing-text);
          }
        }
      }
      & .covid-card-description-stat {
        background: #f9f9f9ff;
        justify-content: center;
        border-radius: 10px;
        margin-bottom: var(--gutter-md);
        & .stat-text {
          & .stat {
            color: var(--font-color-green);
            font-size: var(--font-xxl);
            font-weight: 900;
          }
          & .id {
            color: var(--font-color-red);
            font-weight: 900;
          }
        }
      }
      & .covid-card-description-text {
        margin-bottom: var(--gutter-md);
      }
      & .covid-card-description-source {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        color: var(--font-color-green);
      }
    }

    /* CovidCard Graph Div*/
    & .covid-card-graph {
      padding-left: var(--gutter-lg);
      & .covid-card-graph-box {
        border: 1px solid #c7c7c8ff;
        padding: var(--gutter-md) var(--gutter-md);
        & .covid-card-graph-box-header {
          display: flex;
          flex-direction: row;
          margin-bottom: var(--gutter-md);
          & .covid-card-graph-box-header-text {
            flex-grow: 2;
            & h3 {
              font-size: var(--font-md);
            }
            & h4 {
              font-size: var(--font-xl);
            }
          }
          & .covid-card-graph-box-header-buttons {
            flex-grow: 1;
          }
        }
        & .covid-card-graph-box-viz {
          height: 400px;
        }
      }
    }
  }
}
