.dmx-overlay {
  & .bp3-icon {
    cursor: pointer;
  }
}

.bp3-overlay {
  display: flex;
  justify-content: center;
  & .bp3-tooltip {
    width: max-content;
  }
}

.dmx-overlay-card {
  background-color: var(--white);
  border-radius: var(--infocard-border-radius);
  margin-top: calc(var(--nav-height) + var(--gutter-md));
  padding: var(--gutter-md);
  width: 50%;
  & .dmx-overlay-card-button {
    float: right;
  }
}
