:root {
  --covid-red: #9F2241;
  --covid-dark-red: #691C32;
  --covid-gold: #BC955C;
  --covid-beige: #F8F4EF;
  --covid-black: #2B292A;
  --covid-grey: #4D4D4D;
  --covid-light-grey: #6F7271;
  --covid-white: #F9F9F9;
  --covid-green: #235B4E;
}

.dmx-select-location {
  & .bp3-popover-wrapper {
    & .dmx-button {
      background: var(--covid-red);
      border-radius: 10px;
      padding: var(--gutter-xs) var(--gutter-xs);
      & .dmx-button-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        & .dmx-button-content-img {
          color: var(--covid-white);
          width: 1.2rem;
          margin-right: 0.3rem;
        }
        & .dmx-button-content-text {
          color: var(--covid-white);
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
    & .dmx-button:hover {
      background: var(--covid-dark-red);
    }
  }
}

.dmx-select-results {
  & .dmx-select-result {
    padding: var(--gutter-xs) var(--gutter-sm);
    padding-bottom: 0;
    & .dmx-select-results-division {
      font-size: var(--font-md);
      font-weight: 600;
    }
    & .dmx-select-result-options {
      display: flex;
      flex-wrap: wrap;
      margin-top: var(--gutter-xs);
      & .dmx-select-results-location {
        width: 50%;
        font-size: var(--font-xs);
        font-weight: 400;
      }
      & .dmx-select-results-location:hover {
        text-decoration: underline;
      }
    }
  }
}
