@import "../helpers/mixins.css";

.ep-profile {
  min-width: 200px;
  flex: 1;
  min-height: 70vh;
  color: var(--dark-1);
  text-align: center;

  & .ep-profile-no-results {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .icon {
      height: 120px;
    }

    & .message {
      max-width: 600px;
      padding: 20px;
    }
  }

  & .ep-profile-title {
    padding: 1.1rem;
  }

  & .ep-profile-results {
    display: flex;
    flex-wrap: wrap;
  }

  & .ep-profile-result {
    color: var(--white);
    display: flex;
    padding: 15px 10px;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    margin: 15px;
    z-index: 1;
    position: relative;
    border: 1px solid var(--dark-2);
    height: 90px;
    flex: 1;
    &.full-panel {
      width: 300px;
      max-width: 100%;
    }

    &::before {
      @mixin overlay-gradient;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      z-index: -1;
    }

    &:hover {
      background-color: var(--accent-light);
      text-decoration: none;
    }

    & .ep-profile-result-icon {
      width: 25px;
      height: 25px;
      min-width: 25px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    & .ep-profile-result-title {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    & .ep-profile-result-level {
      width: 100%;
    }
  }
}
