.ep-header {
  flex: 1 1 auto;
  text-align: center;
  flex-direction: row;
  display: flex;
  align-items: center;
  cursor: pointer;
  & img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  & .ep-header-title {
    color: var(--light-2);
    & .selected {
      color: var(--white);
      border-bottom: 1px solid var(--white);
      padding: 5px 0;
    }
  }
}
