@import "helpers/mixins.css";

.footer {
  background-color: var(--dark-4);
  color: var(--white);
  text-align: left;

  & .footer-columns {
    /* column layout only on non-tiny screens */
    @mixin min-xs {
      display: flex;
      flex-wrap: wrap;
    }

    & .footer-heading {
      margin-bottom: var(--gutter-sm);
    }

    & ul {
      @mixin list-reset;
    }

    /* show border in between adjacent nav links on mobile */
    & li:not(:last-child) {
      @mixin max-xs {
        border-bottom: 1px solid var(--dark-3);
      }
    }

    /* link style overrides */
    & a {
      font-weight: var(--light-weight);
      color: var(--white);
      display: block;
      line-height: 2;

      /* easier touch target for mobile */
      @mixin max-xs {
        line-height: 2;
      }
      /* inline lists for bigger screens */
      @mixin min-xs {
        @mixin font-xs;
      }
    }
  }

  /* space out columns */
  & .footer-column {
    margin-bottom: var(--gutter-md);

    @mixin min-xs {
      margin-right: calc(var(--gutter-lg) + 4vw);
    }
  }

  & .footer-contact {
    max-width: 400px;

    & .footer-email {
      margin-top: var(--gutter-sm);
      margin-bottom: var(--gutter-md);

      & .bp3-icon {
        color: var(--white);
      }
      & input {
        background: transparent;
        border-bottom: 1px solid white;
        border-radius: 0;
      }
      & .bp3-input-action {
        @mixin absolute-vertical-center;

        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          & .bp3-icon {
            margin-left: 5px;
          }
        }
      }
    }
  }

  & .sponsors {
    display: flex;
    justify-content: space-between;
    width: 400px;
    & .brand {
      height: 32px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 50px 25px;
    & .footer-links {
      margin: auto;
      & .footer-column {
        flex: 1;
        min-width: 1px;
      }
    }
    & .footer-contact {
      margin: auto;
    }
    & .columns {
      display: flex;
      flex-direction: column;
    }
  }
}
