.nav {
  color: var(--white);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  left: 0;
  padding: 10px 15px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transform: translateX(0);
  transition: background-color .75s;
  width: 100%;
  z-index: 21;

  & div {
    flex: 1;
    display: flex;

    &.nav-center {
      min-width: 300px;
      justify-content: center;
      & .nav-subtitle {
        color: #57a520;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 20px;
        text-transform: none;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    &.nav-right {
      justify-content: flex-end;
    }
  }

  & .menu {
    font-size: 12px;
    margin-left: 5px;
  }

  &.background {
    background-color: var(--dark);
  }

  & .profile-logo {
    margin-right: 5px;
    & img {
      width: 150px;
    }
  }

}

.bp3-dialog-container {
  outline: 0;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  &.slide-enter, &.slide-exit.slide-exit-active {
    transform: translateX(-300px);
  }
  &.slide-enter.slide-enter-active, &.slide-exit {
    transform: translateX(0);
  }
}

.bp3-overlay-backdrop {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  &.slide-enter, &.slide-exit.slide-exit-active {
    opacity: 0;
  }
  &.slide-enter.slide-enter-active, &.slide-exit {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    & .nav-subtitle {
      display: none;
    }
  }
}
