.bp3-dialog {
  &.nav-menu {
    height: 100vh;
    z-index: 10000000;
    margin: 0;
    left: 0;
    padding: 0;
    position: fixed!important;
    transform: translateX(0);
    transition: transform .25s,-webkit-transform .25s;
    width: 300px;
    will-change: transform;
    width: 300px;
    border-radius: 0px;
    background-color: rgba(20,27,46);
    padding: 20px;
  }
}

.bp3-overlay {
  z-index: 22 !important;
}

.bp3-overlay-backdrop {
  background-color: color(var(--black) a(0.75));
}

/* remove focus ring from dialog container, since it's only visible right before it's about to remove itself from the dom */
.bp3-dialog-container[tabindex]:focus {
  outline: none;
}

.nav-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--white);

  & .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    & svg {
      width: 20px;
      height: 20px;
    }
  }

  & ul {
    list-style: none;
    margin-left: -20px;

    & a {
      color: var(--white);
      &:hover {
        color: var(--accent-dark);
        text-decoration: none;
      }
    }
    & li {
      font-size: 16px;
      letter-spacing: .1em;
      line-height: 1.5;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    & ul {
      margin-bottom: 20px;
      & li {
        font-size: 14px;
      }
    }
  }

  & .nav-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & img {
      height: 30px;
    }
  }
}
