@import "helpers/mixins.css";

.tile-container {
  border: 1px solid var(--dark-1);
  height: 5rem;
  overflow: hidden;
  position: relative;
  margin: var(--gutter-sm);
  width: 100%;
  z-index: 1;
  &:hover {
    border-color: var(--white);
    & .tile-background {
      transform: scale(1.05);
    }
  }
}

.tile-link {
  & .tile-content {
    align-items: center;
    display: flex;
    padding: var(--gutter-sm);
    position: absolute;
    z-index: 2;
    height: max-content;
    & .tile-content-tag {
      max-width: var(--gutter-lg);
    }
    & .tile-content-description {
      align-items: baseline;
      color: var(--white);
      display: flex;
      flex-direction: column;
      padding-left: var(--gutter-xs);
      & .tile-content-description-title {
        font-weight: var(--light-bold-weight);
        margin-bottom: calc(var(--gutter-xs) / 3);
        text-align: left;
      }
      & .tile-content-description-level {
        font-weight: var(--base-font-weight);
        text-transform: uppercase;
      }
    }
  }
  & .tile-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: transform 0.3s ease-out;
    width: 100%;
    z-index: -1;
    &::before {
      @mixin overlay-gradient;
      @mixin absolute-expand;
      display: block;
      content: "";
      z-index: 1;
    }
  }
}
