.tile-title {
  align-items: center;
  display: flex;
  justify-content: center;

  & .tile-title-icon {
    height: 1.75em;
    width: 1.75em;
    margin-right: 0.25em;
    margin-left: -1em; /* optical alignment */
  }

  & .tile-title-link {
    color: var(--white);
  }
}
