.mex-tile {
  align-items: center;
  background-color: var(--dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #979aa2;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  height: 150px;
  justify-content: center;
  margin: 15px 0;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 1s;
  transition: border-color .25s;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  &:hover {
    text-decoration: none;
    color: var(--white);
    background-size: 110% auto;
    transition: all 1s;
    font-size: 22px;
    border: 1px solid var(--white);
  }
  &:hover::before {
    background: rgba(0, 0, 0, 0.4);
  }
}
