@import "helpers/layout.css";

body {
  /* don't remove the default focus styles, unless you plan on bringing your own */
  & *:focus {
    outline: 2px solid var(--accent-dark);
    outline-offset: 1px;
  }

  /* override default selection styles */
  & ::selection {
    color: var(--black);
    background-color: var(--accent-light);
    text-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.bp3-input:focus, .bp3-input.bp3-active {
  box-shadow: none !important;
}

/* default link styles */
.link,
.cp-stat a,
.cp-section p > a,
.cp-section li > a {
  font-weight: var(--base-font-weight);
  color: var(--accent-dark);
  text-decoration: underline;
  text-decoration-color: var(--light-3);

  &:hover, &:focus {
    color: var(--accent-black);
    text-decoration-color: var(--accent-dark);
  }
}
