@import "helpers/layout.css";

body {
  /* don't remove the default focus styles, unless you plan on bringing your own */
  & *:focus {
    outline: 2px solid var(--accent-dark);
    outline-offset: 1px;
  }

  /* override default selection styles */
  & ::selection {
    color: var(--black);
    background-color: var(--accent-light);
    text-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.bp3-input:focus,
.bp3-input.bp3-active {
  box-shadow: none !important;
}

/* default link styles */
.link,
.cp-stat a,
.cp-section p > a,
.cp-section li > a {
  font-weight: var(--base-font-weight);
  color: var(--accent-dark);
  text-decoration: underline;
  text-decoration-color: var(--light-3);

  &:hover,
  &:focus {
    color: var(--accent-black);
    text-decoration-color: var(--accent-dark);
  }
}

.cp-main > *:nth-child(even) {
  background-color: #f8f8f8;
}

.cp-main > *:nth-child(odd):not(.cp-grouping-section) {
  background-color: var(--white);
}

.cp-viz-container {
  height: 100% !important;
}
.cp-viz-container > .cp-viz-header + .cp-viz-figure {
  height: 100% !important;
}

.cp-stat-group-wrapper {
  & .cp-stat {
    flex: 1 !important;
    margin-right: 0 !important;
    min-width: auto !important;
    padding: 0;
    & .cp-stat-label-text {
      display: flex;
      max-width: 150px;
    }
  }
}

.cp-hero-stat-group-wrapper {
  & .cp-hero-stat {
    & .cp-stat-label {
      & .cp-stat-label-text {
        font-weight: 700;
        justify-content: center;
        margin: auto;
      }
    }
    &:first-child {
      padding-left: 1.5rem;
    }
  }
}

.cp-single-column-section {
  & .cp-viz-container > .cp-viz-header + .cp-viz-figure {
    height: 20rem !important;
  }
}



.cp-default-section-paragraph {
  font-weight: 400 !important;
}

.nav div.nav-center .nav-subtitle {
  font-size: 20px;
  color: var(--accent) !important;
}

.cp-section-heading {
  font-size: var(--gutter-md);
}

.SourceGroup {
  margin-top: var(--gutter-sm);
  & a {
    color: var(--primary-1);
    text-decoration: underline;
  }
}

.dmx-selector, .dmx-button-group {
  & .title {
    font-size: var(--font-sm);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.Options {
  & .options-button-group {
    display: flex;
    flex-wrap: wrap;
    width: 6rem;
    justify-content: space-between;
    & .options-button {
      flex: 1;
      display: flex;
      max-width: 50px;
      min-width: 10px;
      padding: 0;
      font-size: var(--font-md);
    }
  }
}

.cp-stat-value-text {
  font-size: var(--font-xl);
}

.cp-graphic {
  text-align: center;
}

.cp-stat-group-wrapper {
  overflow-y: hidden !important;
  width: 100%;
}

.cp-button {
  border-radius: 0px;
}

.bp3-slider .bp3-slider-progress.bp3-intent-primary {
  background-color: var(--gmx-green-1);
}

.dmx-slider {
  margin-bottom: var(--gutter-sm);
}

.dmx-button {
  width: 100%;
  background-color: var(--gmx-green-1);
  box-shadow: none;
  color: var(--white);
  border: none;
  padding: var(--gutter-xs);
}

.cp-selector-button-group {
  align-items: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .cp-label {
    align-items: center;
    display: flex;
  }
  & .cp-selector-button {
    border: 1px solid var(--primary-1);
    flex: 1 !important;
    min-width: 1px;
    &.is-active {
      background-color: var(--primary-1);
      color: var(--white);
    }
  }
}

.bp3-dialog.options-dialog {
  /* border: 1px solid var(--accent);*/
  & .rt-thead.-header .rt-th {
    background-color: var(--gray) !important;
  }
}

.bp3-dialog.options-dialog {
  & .bp3-tab-panel {
    & .clipboard-button {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    & .bp3-dialog-body {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      & .share-direct-link-wrapper, & .save-image-button-group-wrapper {
        width: 100%;
      }
      & label {
        width: 100%;
      }
    }
    & .cp-button {
      width: auto;
      & .cp-button-text {
        font-size: var(--font-sm);
      }
    }
  }
}

.bp3-dialog.options-dialog [class$="-tab"] {
  padding: 5px 20px !important;
}

.bp3-dialog.options-dialog [class$="-tab"][aria-selected="true"] {
  background-color: #235B4E !important;
  color: var(--white) !important;
  font-weight: 400 !important;
  &:after {
    background: transparent !important;
  }
}

.bp3-dialog.options-dialog [class*="-tab-list"] {
  background-color: #009688 !important;
  padding: 0px !important;
  justify-content: flex-start !important;
  & .bp3-dialog-close-button {
    background-color: transparent;
  }
}

.cp-grouping-section-heading-wrapper {
  justify-content: center !important;
}

.cp-selector-button-group {
  margin-bottom: 1em;
}

/* Tooltip */
.d3plus-tooltip {
  width: 220px !important;
  padding: 0px !important;
  & .d3plus-tooltip-title-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 5px 10px !important;
    & .icon {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 40px;
      & img {
        width: 40px;
        height: 40px;
      }
    }
    & .title {
      align-items: center;
      display: flex;
      font-family: var(--base-font-stack);
      font-size: var(--font-sm);
      line-height: var(--font-md);
      min-height: 40px;
      & span {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }

  & table {
    min-width: 95% !important;
    width: 95% !important;
    align-items: center !important;
    display: flex !important;
    margin: 10px auto !important;
  }
  & .d3plus-tooltip-footer {
    text-align: center;
  }
  & tbody {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  & tr {
    border-top: 1px solid var(--dark-1) !important;
    width: 100% !important;
    &:first-child {
      border-top: 0px solid var(--dark-1) !important;
    }
  }
  & td {
    text-align: right;
    padding: 5px 5px;
    flex: 1 !important;
    width: 100% !important;
    &:first-child {
      text-align: left;
      font-weight: var(--display-font-weight);
    }
    &:last-child {
      min-width: 100px;
    }
  }
  z-index: 101 !important;
  border: 1px solid var(--gray) !important;
}
