#Home {
  text-align: center;
  background-color: var(--dark-4);
  color: var(--white);
  & .hero {
    position: relative;
    background: url(/images/backgroundmx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      background-image: linear-gradient(rgba(20,27,46,.5),rgba(20,27,46,.3) 10%,rgba(20,27,46,.5) 50%,#141b2e);
      z-index: -1;
    }

    & .tagline {
      font-family: "Barlow", sans-serif;
      margin: 30px;
      text-shadow: 2px 2px 7px #222;
    }

    & .sponsors {
      display: flex;
      padding: 30px;
      & .brand {
        height: 45px;
        margin: 20px 20px;
        &.datawheel-logo {
          height: 40px;
        }
      }
    }
  }

  & .home-input {
    border-radius: 0px;
    height: 45px;
    max-width: 650px;
    min-width: 600px;
    box-shadow: 0 0 12px rgba(0,0,0,.5);

    & .bp3-icon-search {
      margin-top: 14px;
      color: var(--accent-dark);
    }

    & .bp3-input {
      font-size: 18px;
      font-weight: 400;
      height: 100%;
      border-radius: 0px;
      box-shadow: none;
      box-shadow: 0 0 12px rgba(0,0,0,.5);
    }

    & .home-search {
      background: var(--accent-dark);
      color: var(--white);
      border-radius: 0;
      border: none;
      box-shadow: none;
      margin: 0;
      height: 45px;
      font-size: 18px;
      padding: 5px 20px;
    }
  }



  & .tiles {
    & .column {
      margin: 10px 15px 25px;
      min-width: 225px;
    }
  }

}

.search-results {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 498px;
  background-color: #eaeaea;
  margin-top: 0px;
  z-index: 22;
  max-height: 30vh;
  overflow-y: scroll;

  & .search-result {
    margin-left: -40px;
  }
}

.bp3-transition-container {

}

.bp3-popover {
  width: 404px;
  & .bp3-popover-content {
    border-radius: 0px !important;
  }
}

.cp-grouping-section-heading {
  font-size: 36px;
  text-align: center;
}

