@import "../helpers/mixins.css";

.home {
  background-color: var(--dark-4);
  color: var(--white);
}

.home-hero {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-top: var(--nav-height);
  position: relative;
  z-index: 2;

  /* overlay */
  &::before {
    @mixin overlay-gradient;
    @mixin absolute-expand;
    display: block;
    content: "";
    z-index: -1;
  }

  & .home-hero-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 var(--gutter-xs);

    & > * {
      margin-bottom: var(--gutter-sm);
    }

    & .hero-info-logo {
      width: calc(var(--font-lg) * 18);
    }

    & .hero-info-tagline {
      @mixin text-shadow;
    }

    & .hero-info-logo-list {
      align-items: center;
      display: flex;
      flex-direction: row;
      & > :not(:last-child) {
        margin-right: var(--gutter-sm);
      }
      & .hero-info-logo-img {
        height: calc(var(--font-md) * 2);
        transition: 0.15s ease-out;
      }
      & .hero-info-logo-img:hover {
        transform: scale(1.075);
      }
    }
  }
  & .home-hero-search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.home-content {
  & .home-content-profiles {
    display: flex;
    flex-wrap: wrap;
    & .profiles-tile-container {
      width: 50%;
      & .profile-tile-container-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    & .profiles-tile-container:first-child {
      width: 100%;
    }
  }
}
