@import "helpers/mixins.css";

.covid-site {
  background: var(--cream);
  color: var(--dark-3);
  padding-top: var(--nav-height);
  & .covid-header {
    background: url("/images/covid-header.png") no-repeat fixed center;
    display: flex;
    flex-direction: column;
    padding: var(--gutter-md);
    & .covid-header-date {
      color: var(--light-gray);
      display: flex;
      font-size: var(--font-xs);
      font-weight: var(--light-bold-weight);
      justify-content: center;
      padding-bottom: var(--gutter-md);
      text-transform: uppercase;
    }
    & .covid-header-stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      & .covid-header-stats-stat {
        align-items: center;
        border-right: var(--field-border-radius) solid var(--light-3);
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 0 var(--gutter-sm);
        & .covid-header-stats-stat-icon {
          height: calc(var(--gutter-lg) * 1.8);
          margin-right: var(--gutter-xs);
        }
        & .covid-header-stats-stat-text {
          display: flex;
          flex-direction: column;
          width: 60%;
          & .covid-header-stats-stat-value {
            color: var(--gmx-red-1);
            font-size: var(--font-xl);
            font-weight: var(--light-weight);
          }
          & .covid-header-stats-stat-name {
            color: var(--light-gray);
            font-size: var(--font-sm);
            font-weight: var(--light-bold-weight);
            text-transform: uppercase;
          }
        }
      }
      & .covid-header-stats-stat:last-child {
        border: 0;
      }
    }
  }
}
