@import "helpers/mixins.css";

.covid-site {
  padding-top: 50px;
  color: var(--dark-3);

  & .testing {
    padding: var(--gutter-md) var(--gutter-md);
  }

  & .covid-body {
    min-height: 50vh;
  }

  & .footer {
    margin-top: auto;
  }
}
