@import "helpers/mixins.css";
@import "./frags/hero.css";

.lead {
  background-color: var(--dark-4);
  color: var(--white);
  & .lead-descriptions {
    columns: 320px auto;
  }
}

.Options {
  & .cp-button {
    border: none;
    border-radius: 0;
  }
}

/* override heading styles for stat values */
/* TODO: remove after removing heading class from canon stats */
.cp-stat-value-text.heading {
  font-weight: var(--stat-value-weight);
  line-height: 1;
  margin-left: -0.05em; /* fudge that very thin font into place */
  margin-right: 0;
}

/* scale down fonts for long stats */
.cp-stat-value-text.length-lg           { font-size: var(--font-lg); }
.cp-stat-value-text[class*="length-x"]  { font-size: var(--font-md); }
.cp-stat-subtitle[class*="length-x"]    { font-size: var(--font-xxs); }

.cp-stat-subtitle {
  @mixin display;
  font-weight: var(--bold-weight);
  margin-top: 0.125em;
}

.cp-stat-label {
  /* typography overrides */
  @mixin font-xxs;
  line-height: 1.125;
  /* positioning */
  margin-top: 0.25em;
  margin-right: 0; /* override canon */

  & .cp-stat-label-text {
    @mixin font-smoothing;
    font-size: inherit;
  }
}

.cp-hero .cp-hero-heading {
  font-family: var(--base-font-stack-condensed);
}

.cp-section-heading {
  font-family: var(--base-font-stack-condensed);
}


.cp-main {
  /* about section overrides */
  & .cp-grouping:first-child {
    @mixin text-shadow;
    background-color: var(--dark-4);

    /* bring about section closer to hero */
    & .cp-section {
      padding-top: var(--gutter-xs);
    }

    & .cp-section-paragraph {
      @mixin font-xs;
      @mixin font-smoothing;
      font-weight: var(--base-font-weight);
      line-height: 1.5;
      color: var(--light-2);
      display: inline-block;

      /* space out adjacent paragraphs */
      &:not(:last-of-type) {
        margin-bottom: 1.5em;
      }
    }
    & .Options {
      display: none;
    }
  }

  & .cp-section-heading {
    line-height: 1.1;
    margin-bottom: 10px;
    &[id="about"] {
      color: var(--white);
    }
  }

  /* value on top */
  & .cp-stat-group-wrapper > .cp-stat {
    display: flex;
    flex-direction: column;

    & .cp-stat-value {
      order: -1;
    }
  }

  & .cp-section-stat {
    flex: 1 0 50%;
  }
}

.cp-section-paragraph {
  line-height: 1.5;
  color: var(--dark-2);

  /* strip out rich text styles */
  & [style] {
    background: inherit !important;
  }
}

/* grouping headings */
.cp-grouping-section-heading {
  @mixin display;
  margin-bottom: 1em;
  font-family: var(--base-font-stack-condensed);
}

.cp-viz-title {
  font-family: var(--base-font-stack-condensed);
  font-weight: 600;
}

.options-button-group {
  & .cp-button-text {
    display: none;
  }
}

.cp-stat-subtitle {
  /* color: var(--gray) !important; */
}

/* .cp-stat-value-text {
  color: var(--gmx-yellow-2);
}
.cp-stat a {
  color: var(--gmx-yellow-2);
}
.cp-section p > a {
  color: var(--gmx-yellow-2);
} */

.dmx-disclaimer {
  color: var(--gmx-yellow-2);
  font-weight: 700;
  font-size: var(--font-xs);
}

.cp-hero-stat {
  & .cp-stat-subtitle {
    font-weight: 500;
    font-size: var(--font-xxs);
    text-transform: none;
  }
  & .cp-stat-label .cp-stat-label-text {
    text-transform: uppercase;
  }
}

.cp-stat-label {
  & .cp-stat-label-text {
    font-weight: 700;
    font-size: var(--font-xs);
  }
}

/* default section overrides */
.cp-default-section-paragraph,
.cp-tabs-section-paragraph,
.cp-single-column-section-paragraph,
.cp-multi-column-section-paragraph {
  @mixin font-xs;
  font-weight: var(--light-weight);
  margin-top: 0.5em;

  &:not(:last-of-type) {
    margin-bottom: 1.125em;
  }
}

.cp-hero {
  min-height: calc(100vh - 300px);
}
.cp-hero-inner {
  padding-bottom: 3rem;
}

.cp-single-column-section-caption .cp-viz-container { margin-top: auto; }

/* inverted section link styles */
.cp-about-section-inner p > a {
  font-weight: var(--bold-weight);
  color: var(--accent);
  text-decoration-color: var(--dark-1);

  &:hover, &:focus {
    color: var(--white);
    text-decoration-color: currentColor;
  }
}

/* style underlined text like italic */
.cp-section-paragraph u {
  text-decoration: none;
  font-style: italic;
}

.cp-subnav.is-fixed {
  background-color: var(--dark-3);
}
