@import url(frags/hero.css);

.lead {
  background-color: #141b2e;
  color: var(--white);
  & .lead-descriptions {
    columns: 320px auto;
    font-size: 14px;
    line-height: 1.5;
  }
}

.Options {
  & .cp-button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: var(--gray);
    font-size: 11px;
    &:hover {
      background-color: transparent;
      color: var(--accent-dark);
    }
  }
}

.cp-main > *:nth-child(even) {
  background-color: var(--white);
}
.cp-main > *:nth-child(odd) {
  background-color: #fafafa;
}

.cp-multi-column-section-caption > * {
  /* page-break-inside: avoid; */
  /* -webkit-column-break-inside: avoid; */
  break-inside: auto;
  /* break-inside: avoid; */
}


.cp-main {

  & .cp-grouping-section {
    background-color: transparent;
    color: #181A21;
  }
  & .cp-grouping:first-child {
    background-color: #141b2e;
    & h2 {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 1.1;
      margin-bottom: 10px;
    }
    & p {
      color: white;
      -webkit-columns: 320px auto;
      -moz-columns: 320px auto;
      columns: 320px auto;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
      -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
      flex: 2 1 auto;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.7;
      margin: 3px auto 12px;
      max-width: 1200px;
      opacity: 0.9;
      width: 100%;
    }
    & .Options {
      display: none;
    }
  }

  & .cp-grouping-section-heading {
    text-transform: uppercase;
  }

  & .cp-section-subhead {
    color: #d25d39;
    font-size: 12px;
  }

  & .cp-section-heading {
    color: #141b2e !important;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.1;
    margin-bottom: 10px;
    &#about {
      color: var(--white) !important;
    }
  }

  & .cp-stat-group > .cp-stat {
    flex: 1;
    min-width: 50%;
  }

  & .cp-stat {
    display: flex;
    flex-direction: column-reverse;

    & .cp-stat-label-text {
      font-size: 12px !important;
    }

    & .cp-stat-value-text {
      font-size: 38px;
      font-weight: 200;
      letter-spacing: 0.02em;
      color: var(--accent-dark);
    }

  }
}

.Options {
  & .cp-button {
    background: transparent;
  }
}

.cp-section-paragraph {
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
}

.cp-single-column-section-caption .cp-viz-container { margin-top: auto; }

.d3plus-tooltip {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  padding: 0px !important;

  & .d3plus-tooltip-table {
    border-collapse: collapse;
  }

  & td {
    text-align: right;
    padding: 5px 10px;
    &:first-child {
      text-align: left;
      font-weight: 700;
    }
    &:last-child {
      text-transform: uppercase;
    }
  }

  & .d3plus-tooltip-footer {
    text-align: center;
  }
}
