@import "../../helpers/mixins.css";

.ep-container {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  background-color: var(--dark-3);
  padding: 30px 60px;

  & .bp3-input {
    border-radius: 0px;
    border: none;
    background-color: transparent;
    color: var(--white);
    box-shadow: none;
    height: 60px;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--dark-1);
    padding-left: 1.5em !important; /* override blueprint */

    &::focus {
      box-shadow: none;
    }

    &.bp3-active {
      box-shadow: none;
    }
  }

  & .bp3-icon-search[class] {
    @mixin absolute-vertical-center; /* center it regardless of the size */
    margin: 0; /* override blueprint */
    color: var(--white);

    & svg {
      width: 2em;
      height: auto;
    }
  }

  & .bp3-input-group .bp3-input:not(:first-child) {
    padding-left: 60px;
  }

  & .ep-headers {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
  }

  & .ep-profile-tabs {
    display: inline-flex;
    background: var(--dark-3);
    color: var(--dark-1);
    & .ep-profile-tab {
      padding: 10px;
      cursor: pointer;
      &.selected {
        background: var(--dark-4);
        color: var(--white);
      }
    }
  }

  & .ep-profiles {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-4);
    max-height: 70vh;
    overflow-y: scroll;
  }
}
